<!--Carousel-->
<div class="pb-5">
  <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">
    <mdb-carousel-item>
      <img src="https://t.ly/If1g" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img src="https://t.ly/MrZZO" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <img src="https://t.ly/21sE" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
