<!--Carousel-->
<div class="pb-5">
  <mdb-carousel [controls]="true" [indicators]="true" [dark]="true">

    <mdb-carousel-item>
      <img src="https://lh5.googleusercontent.com/p/AF1QipMiBDoWDTnTGpSQolxDJcxXucCINYcGiGGZXY4G" class="d-block w-100 h-50" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>First slide label</h5> -->
      </div>
    </mdb-carousel-item>
    
    <mdb-carousel-item>
      <img src="https://lh5.googleusercontent.com/p/AF1QipMiBDoWDTnTGpSQolxDJcxXucCINYcGiGGZXY4G" class="d-block w-100 h-50" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <!-- <h5>First slide label</h5> -->
      </div>
    </mdb-carousel-item>

  </mdb-carousel>
</div>
