<!--About-->
<div class="container card p-5">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-uppercase">
          About <span class="text-success">NITR</span>
        </h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p class="card-text">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still in their
          infancy.
        </p>
        <a href="#" class="btn btn-success px-5">Read More</a>
      </div>

      <div class="col-md-6">
        <img src="https://t.ly/VPHV" class="img-fluid shadow-2-strong" alt="" />
      </div>
    </div>
  </div>
</div>
