<!--About-->
<div class="container card py-5">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-uppercase">
          {{about.title.split(' ')[0]}} <span class="text-success">{{about.title.split(' ')[1]}}</span>
        </h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p class="card-text">
          {{about.content}}
        </p>
        <a href="#" class="btn btn-success px-5">Read More</a>
      </div>

      <div class="col-md-6 pt-4">
        <img src="{{about.image.url}}" class="img-fluid shadow-2-strong" alt="" />
      </div>
    </div>
  </div>
</div>
