<!--About-->
<div class="container card p-5">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <h5 class="text-uppercase">
          About <span class="text-success">NITR</span>
        </h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p class="card-text">
          There certainly was a good vision for Nigeria's food self-sufficiency goal when some 60 years ago, NITR was established to research and develop scientific and technological tools to control and eradicate Trypanosomiasis (sleeping sickness in man, nagana/sammoré in cattle), the No. 1 poverty disease of sub-Saharan African countries that is transmitted by tsetse flies. By 1975, NITR's mandate on Trypanosomiasis was expanded to include Onchocerciasis (river blindness) which is transmitted by black flies.
        </p>
        <a href="#" class="btn btn-success px-5">Read More</a>
      </div>

      <div class="col-md-6">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMiBDoWDTnTGpSQolxDJcxXucCINYcGiGGZXY4G" class="img-fluid shadow-2-strong" alt="" />
      </div>
    </div>
  </div>
</div>
