<!--Blog-->
<div class="py-5">
  <div class="card" style="background-color: #4fce2f">
    <div class="card-body">
      <h2 class="card-title text-center text-white fw-bold pt-4">
        Related News
      </h2>

      <div class="row row-cols-1 row-cols-md-3 g-4 py-5" *ngFor="let news of related">
        <div class="col">
          <div class="card h-100">
            <img
              *ngIf="news.image"
              src="{{news.image.url}}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <div class="py-3">
                <div class="row">
                  <div class="col">
                    <p class="text-start">{{news.createdAt}}</p>
                  </div>
                  <div class="col">
                    <p class="text-end">
                      <span class="badge bg-dark p-2 px-4 text-end">News</span>
                    </p>
                  </div>
                </div>
              </div>
              <h5 class="card-title">
                {{news.title}}
              </h5>
              <!-- <p class="card-text">
                It has roots in a piece of classical Latin literature from 45
                BC, making it over 2000 years old. Richard McClintock, a Latin
                professor at ...
              </p> -->

              <p>
                <a class="text-success" [routerLink]="['/news', news._id]">- Read More</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
