<!--Footer-->
<footer class="bg-dark text-white tcon-lg-start pt-4">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact</h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p class="mr-3 fw-bold">Office Address</p>
        <p class="fw-lighter">1 Surame Rd, Ungwan Rimi 802125, Kaduna</p>

        <p class="mr-3 fw-bold">Phone</p>
        <p class="fw-lighter">(234) 0000000000</p>

        <p class="mr-3 fw-bold">Email Address</p>
        <p>
          <a class="text-white fw-lighter" href="mailto:info@nitr.gov.ng"
            >info@nitr.gov.ng</a
          >
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Newsletter</h5>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Subscribe to our newsletter to instantly receive news about the
          project
        </p>
        <form action="">
          <label mdbLabel class="form-label text-white">
            Fullname <span class="text-danger">*</span>
          </label>
          <mdb-form-control class="form-white mb-3">
            <input
              mdbInput
              type="text"
              id="formWhite"
              class="form-control"
              placeholder="Enter your fullname"
              required
            />
          </mdb-form-control>

          <label mdbLabel class="form-label text-white mt-1">
            Email Address <span class="text-danger">*</span>
          </label>
          <mdb-form-control class="form-white">
            <input
              mdbInput
              type="text"
              id="formWhite"
              class="form-control"
              placeholder="Enter your email address"
              required
            />
          </mdb-form-control>

          <button
            class="mt-3 btn btn-success"
            type="button"
            id="button-addon1"
            mdbRipple
            rippleColor="success"
          >
            Subscribe
          </button>
        </form>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="container">
      © Copyright 2021
      <a class="text-success" href="https://nitr.gov.ng">NITR</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
