<!--Events-->
<div class="">
  <div class="card-body">
    <h2 class="card-title text-center text-success fw-bold">Upcoming Events</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      <div class="col">
        <div class="card h-100">
          <img src="https://t.ly/4PD6" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="text-start">Apr 14, 2021</p>
            <h5 class="card-title">2021 2nd Quarterly Lecture</h5>
            <p><a class="text-success" href="#">- Read More</a></p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <img src="https://t.ly/4PD6" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="text-start">Apr 14, 2021</p>
            <h5 class="card-title">2021 2nd Quarterly Lecture</h5>
            <p><a class="text-success" href="#">- Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://t.ly/4PD6" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="text-start">Apr 14, 2021</p>
            <h5 class="card-title">2021 2nd Quarterly Lecture</h5>
            <p><a class="text-success" href="#">- Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
