<app-top-navbar></app-top-navbar>

<app-carousel></app-carousel>

<app-about-nitr></app-about-nitr>

<app-latest-news></app-latest-news>

<app-upcoming-events></app-upcoming-events>

<!--Register-->
<div class="container py-5">
  <div class="card" style="background-color: #4fce2f">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8 px-5 py-5">
          <h4>Lorem Ipsum wee</h4>
          <p>
            All the Lorem Ipsum generators on the Internet tend to repeat
            predefined chunks as necessary
          </p>
        </div>
        <div class="col-md-4 p-5">
          <button
            class="mt-3 btn btn-white px-5 text-success fw-bold"
            type="button"
            id="button-addon1"
            mdbRipple
            rippleColor="success"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-copyright></app-footer-copyright>
